{# Page de connexion // Gérée par SecurityController #}
{% extends 'base.html.twig' %}

{% block title %}Connexion - Village Green{% endblock %}

{% block content %}
    <div class="block-small">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" 
            value="{{ csrf_token('authenticate') }}"
            >
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
                Connexion
            </button>
            <hr>
            <p class="text-center">Ou souhaitez-vous <a href="{{ path('register') }}">créer un compte ?</a></p>
            <p class="text-center"><a href="{{ path('reset_password') }}">Mot de passe oublié ? </a></p>
        </form>
    </div>
{% endblock %}
