{# Page personelle de l'utilisateur / Gérée par AccountController #}

{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Village Green{% endblock %}

{% block content %}
    <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <h1>Mes adresses</h1>
    <p>C'est dans cet espace que vous allez pouvoir gérer vos adresses.</p>
    <hr>
    {% if app.user.addresses|length == 0 %}
        <p class="text-center">Vous n'avez pas encore ajouté d'adresse dans votre compte. Pour en ajouter une, <a href="">cliquez ici</a>.</p>

    {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ address.name }}</h5>
                                <p class="card-text">
                                    {{ address.address }}<br>
                                    {{ address.postal }} - {{ address.city }} - {{ address.country }}
                                </p>
                                <a href="{{ path('account_address_edit', {'id' : address.id}) }}" class="btn btn-primary">Modifier</a> <a href="{{ path('account_address_delete', {'id': address.id}) }}" class="btn">Supprimer</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>

    {% endif %}
    <a href="{{ path('account') }}">Retour à votre compte</a>

{% endblock %}
