{# Page personelle de l'utilisateur / Gérée par AccountController / Mes commandes #}

{% extends 'base.html.twig' %}

{% block title %}Ma commande - Village Green{% endblock %}

{% block content %}
    <h1>Ma commande {{ order.reference }}</h1>
    <a href="{{ path('account_order') }}">Retour</a>
    <hr>
    <p> <strong>Commande passée le :</strong> {{ order.createdAt|date('d/m/Y') }}</p>
    <p> <strong>Référence de ma commande :</strong> {{ order.reference }}</p>
    <p> <strong>Transporteur choisi :</strong> {{ order.carrierName }}</p>
    <p> <strong>Status:</strong> {{ order.status }}</p>

    <strong>Détails :</strong>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td>{{ product.product }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ (product.price / 100)|number_format(2) }} €</td>
            <td>{{ (product.price / 100)|number_format(2) }} €</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <strong>Sous-total :</strong> {{ (order.getTotal / 100)|number_format(2) }} € <br>
        <strong>Livraison :</strong> {{ (order.carrierprice / 100)|number_format(2) }} €<br>
        <strong>Total :</strong> {{ ((order.carrierPrice + order.getTotal )/ 100) | number_format(2) }} €
    </div>
{% endblock %}
